@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.google.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #E6533C;
    border-radius: 42px;
    font-size: 1rem;
    padding: 16px 46px;
    color: white;
    border: none;
}
.body{
     background-color: rgb(0, 0, 0);
     color: white;
}
.navbar{
   
}
.navbar-parent{
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}
.navbar-logo h1{
   font-size: 2.2rem;
   color: #E6533C;
   font-weight: 800;
   font-style: italic;
}
.links{
    border: 1px solid #e6533c3b;
    border-radius: 30px;
    padding: 5px 30px;
}
.navbar-links ul{
       list-style: none;
       gap: 47px;
       align-items: center;
}
.navbar-links ul li:nth-child(1){
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 30px;
}
.navbar-links ul li:hover{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 30px;
    transition: 1s;
}
.navbar-links ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.bars{
   margin-right: 15px;
   display: none;
}


@media screen and (max-width:576px) {
    .navbar-links{
        display: none;
    }
    .bars{
     display:inline;
     border: 1px solid white;
     padding: 5px;
}
}