.run{
    align-items: center;
    justify-content: space-between;
    margin-top: 102px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
}
.run-info{
    max-width: 443px;
    height: 289px;
    padding: 40px 54px;
}
.run-info h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 900;
    margin-bottom: 14px;
}
.run-info p{
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 34px;
}
.btn-3{
    background-color: transparent;
    border: 1px solid white;
}
.btn-3:hover{
   background-color: #E6533C;
   border: none;
   transition: 1s;
}
.run-img{
 max-width: 50%;
}
.run-img img{
    max-width: 95%;
    padding: 20px 10px;
}
@media screen and (max-width:576px) {
    .run{
    flex-direction: column;
}
.run-info{
    max-width: 100%;
    text-align: center;
    margin-bottom: 90px;
}
.run-img{
 max-width: 100%;
 margin: 0 20px;
}

}